body{
	background:#fff url(images/background.gif) repeat-x 100px;
	color:#585858;
	font-family:Arial;
	font-size:14px;
	margin:0;
	min-width:960px;}

img{
	border:none;}

a{
	outline:none;}


/*Styles For Header*/
.header{
	background-color:#F99192;
	height:auto;
	overflow:hidden;
	position:relative;}
.header-one ul{
	list-style-type: none;
	padding: 20px;
	overflow: hidden;}
.header-one img{
	margin-right: 180px;} 
.header-one li {
	float: left;} 
.header-one li a {
	display: block;
	color: white;
	text-align: center;
	padding: 24px 10px;
	text-decoration: none;}  
.header-one li a:hover {
	  background-color: rgb(97, 97, 97);}


/*Styles For Content*/	

#content{
		min-height:510px;}
#content img{
	width: max-content;
	height: 510px;
	float: right;}
#content .tag{
	padding-top: 10px;
	padding-left: 20px;
	font-family: cursive, bold;
	font-size: 40px;
	text-align: justify;
	color:#274F75;}
#content .content-text{
	padding-left: 20px;
	padding-right: 20px;
	font-family: cursive;
	font-size: 20px;
	text-align: justify;
	
	color:grey;}
#content .slider-area{

	color: #274F75;
	min-height: 40px;
	font-size: 30px;
	font-family: Lobster ;
	padding: 30px;}
#content .mission, .vision{
	font-family: cursive;
	font-size: 18px;
	padding-left : 140px;
	padding-right: 140px;
	text-align: justify;}
#content .mission{
	padding-top : 30px;}
#content form{
	padding-left: 50px;
	font-size: 20px;
	float: left;}
#content .details{
	padding-top: 70px;
	padding-right: 30px;
	font-size: 25px;
	float: right;}
#content .form fieldset {
	display: inline-block;}
#content .curriculum-content{
		font-size: 18px;
		text-align: justify;
		padding-left: 200px;
		padding-right: 200px;}
#content .faculties-details{
	padding-left: 90px;
	font-size: 18px;
	font-family: cursive;
	padding-right: 90px;}
#content .announcement-details{
	padding-left: 90px;
	font-size: 18px;
	font-family: cursive;
	padding-right: 90px;}
#content .facilities-details{
	padding-left: 90px;
	font-size: 18px;
	font-family: cursive;
	padding-right: 90px;
	text-align: justify;}
#content .tcdetails{
	padding-left: 90px;
	font-size: 18px;
	font-family: cursive;
	padding-right: 90px;
	text-align: justify;}
#content .tcdetails a{
	text-decoration: none;}
	/*Styles For Footer*/
	
.footer{
	background:#274F75 url(../images/bg-footer.gif) repeat-x;
	min-height:113px;
	width:100%;}
.footer div{
  font-size:15px;
  margin:0 auto;
  padding-top:37px;
  position:relative;
  width:960px;}
.footer div div.connect{
  float:left;
	padding:0;
	width:250px;}
.footer div div.connect a{
  display:inline-block;
	padding-right:10px;}
.footer div div.section{
	float:right;
	padding:0;
	width:700px;}
.footer div div.section ul{
	list-style:none;
	margin:0;
	padding:0;
	position:absolute;
	right:0;
	top:0;}
.footer div div.section ul li{
	border-left:1px solid #6886a0;
	float:left;
	padding:0 5px;}
.footer div div.section ul li.last{
	border-right:0;}
.footer div div.section ul li:first-child{
	border:none;}
.footer a{
	color:#6886A0;
	text-decoration:none;}
.footer div div.section ul li a{
	display:block;
	height:12px;
	line-height:10px;}
.footer a:hover{
	color:#fff;}
